{% extends 'base.html' %}


{% block header %}
Edcja wiadomośći nr {% block title %}{{ id }}{% endblock %}
{% endblock %}


{% block content %}
<div class='uk-margin-auto uk-margin uk-width-2-3 uk-card uk-card-body uk-card-default'>
    <div id='flash'></div>
    <textarea class='uk-textarea uk-margin' id="message_content"></textarea>
    <div class='uk-grid-small uk-margin' uk-grid>
        <a href={{ url_for('.read', id=id) }}>
            <button class='uk-button uk-margin' type='button'>
                Anuluj
            </button>
        </a>
        <a href=#>
            <button class='uk-button uk-margin' type='button' onclick="edit_message()">
                Wyślij
            </button>
        </a>
    </div>
</div>


<script>var id = {{ id }}</script>
<script src='{{ url_for('static', filename='edit.js') }}'></script>
{% endblock %}
